<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>   <httpProtocol>  
     <customHeaders>  
       <add name="Access-Control-Allow-Origin" value="*" />  
     </customHeaders> 
   </httpProtocol>
        <httpRedirect enabled="false" destination="https://maps.marine.ie/infomarbathymetry/index.html" exactDestination="true" childOnly="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>  
 </system.webServer> 
</configuration>
